table,th,td{
    border: 2px solid red;
    border-spacing: 5px;
    text-align: center;
    text-transform:uppercase;
    color: rgb(20, 160, 207);
}
table{
    width: 100%;
}
th{
    height: 60px;
}
tr.content{
    height: 200px;
    
}
td{
    height: 60px;
}
img{
    width: 200px;
    height: auto;
}